<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cnn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\SISTEMA DE VENTAS\CapaDatos\Dbvents_y_compra.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SISTEMA_DE_VENTAS.Properties.Settings.Dbvents_y_compraConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\josue\Desktop\SISTEMA DE VENTAS\CapaDatos\Dbvents_y_compra.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SISTEMA_DE_VENTAS.Properties.Settings.Dbvents_y_compraConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\SISTEMA DE VENTAS\CapaDatos\Dbvents_y_compra.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>